<link href="/css/mainComponents.css" rel="stylesheet"/>

<div class="customer-footer-container">
    <p class="text-footer">© STRABAG</p>
    <a class="image-footer-container"><img class="img-footer-size" src="css/images_login_page/Strabag_Logo.png"/></a>
</div>

@code {
    
}