@inject InsertEffortAndDiscountService insertEffortAndDiscountService
@inject SharedService _srvice
@inject NavigationManager navigationManager
<link href="/css/showPDF_style.css" rel="stylesheet"/>

<style>
    #myPDF{
    width: 90%;
    height: 100%;
    }
</style>

<!--<div class="default-container-pdf">
    
    <embed id="myPDF" type="application/pdf" class="pdf-show" src="pdfs/Kleinangebote%20LV.pdf" frameborder="0">
    
</div>-->

<embed id="myPDF" type="application/pdf" class="pdf-show" src="pdfs/Kleinangebote%20LV.pdf" frameborder="0">


@code {
    
}