@inject InsertEffortAndDiscountService insertEffortAndDiscountService
@inject SharedService _srvice
@inject NavigationManager navigationManager
<link href="/css/popUpCard_style.css" rel="stylesheet"/>

<div class="content-container-popup">
    <div class="popup-header1"><h1>Schwierigkeitsgrad:</h1></div>
    <div class="popup-slider">
        <RadzenSlider style="width: 100%" @bind-Value="@value" TValue="double" Min="0" Max="5" Step="0.1"/>
        <input type="text" class="popup-input" value="@value" @oninput="UpdateSliderValue"/>
    </div>
    <div class="popup-header2"><h1>Preisnachlass:</h1></div>
    <div class="price-input-container"><input type="text" class="price-input" @bind="@price"/></div>
    <div class="btn-confirm-position"><button @onclick="ExecuteUpdate"  class="primary-btn-login button-position-nextButton" type="submit" id="loginBtn">Bestätigen</button></div>
    @if (!string.IsNullOrEmpty(Msg))
    {
        <div class="alert alert-info">
            <p>@Msg</p>
        </div>
    }
</div>

@code
{

    public string id;
    
    protected override void OnInitialized()
    {
        id = _srvice.IdFromURL;
    }


    string Msg;
    double value = 2.50;
    double price = 2.50;
    
    private void UpdateSliderValue(ChangeEventArgs args)
    {
        if (double.TryParse(args.Value.ToString(), out double inputValue))
        {
            value = inputValue;
        }
    }

    public void ExecuteUpdate()
    {
        int convertedNumber = Int32.Parse(id);
        insertEffortAndDiscountService.InsertEffortAndDiscount(value, price, convertedNumber);
        navigationManager.NavigateTo($"/PaymentTerms/{id.ToString()}");
        Msg = $"Die betroffenen Leistungsverezcinisse wurden geändert";
    }
}