@page "/EditLV_Page/{id}"
@inject UpdateLVService _updateLvService
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager

<link href="/css/mainComponents.css" rel="stylesheet"/>
<link href="/css/editLV_style.css" rel="stylesheet"/>

<div class="default-content-container">
    
    <!-- Blazor Navbar Component -->
    <Navbar_Basic />
    
    <div class="concrete-content-container-editLV">
        <div class="header-editLV"><h1>Leistungsverzeichnis bearbeiten</h1></div>
        <div class="table_lv">
            <table class="table-properties">
                <thead>
                <tr>
                    <th>Kurztext</th>
                    <th>LV Menge</th>
                    <th>ME</th>
                </tr>
                </thead>
                <tbody>
                @for (int i = 0; i < lvAmount.Count; i++)
                {
                    int currentIndex = i;
                    <tr>
                        <td>
                            <p>@shortText[i]</p>
                        </td>
                        <td>
                            <input value="@lvAmount[i]" @onchange="e => UpdateLvAmount(e, currentIndex)" class="input-field" style="width: 80px;"/>
                        </td>
                        <td>
                            <p>@lvAmountUnit[i]</p>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="item-input-ButtonSave"><button @onclick="ExecuteSave" class="primary-btn-login" type="submit" id="SaveBtn">SPEICHERN</button></div>
    </div>
    
    <!-- Blazor Footer Component -->
    <Footer_Basic />

</div>


@code {
    [Parameter] 
    public string id { get; set; }
    public double val = 0;
    public List<string> ShortName = new List<string>();
    public List<string> shortText = new List<string>();
    public List<double> lvAmount = new List<double>();
    public List<string> lvAmountUnit = new List<string>();
    int convertedNumber;
    
    protected override async Task OnInitializedAsync()
    {
        convertedNumber = Int32.Parse(id);
        shortText = await _updateLvService.ReturnLVShortText(convertedNumber);
        lvAmount = await _updateLvService.ReturnLVAmount(convertedNumber);
        lvAmountUnit = await _updateLvService.ReturnLVAmountUnit(convertedNumber);
        ShortName = shortText.ToList();
    }
    
    void UpdateLvAmount(ChangeEventArgs e, int index)
    {
        if (index >= 0 && index < lvAmount.Count && index < shortText.Count)
        {
            double parsedValue = Double.Parse(e.Value.ToString());
            lvAmount[index] = parsedValue;
        }

    }

    public async Task ExecuteSave()
    {
        for (int i = 0; i < lvAmount.Count; i++)
        {
            await _updateLvService.UpdateLV(convertedNumber, lvAmount[i], ShortName[i]);
        }
        navigationManager.NavigateTo("/ProjectSearch");
    }
}