@page "/ListOfLVs/{id}"
@inject IModalService Modal
@inject SharedService _srvice


<link href="/css/mainComponents.css" rel="stylesheet"/>
<link href="/css/listOfLV.css" rel="stylesheet"/>

<div class="default-content-container">
    
    <!-- Blazor Navbar Component -->
    <Navbar_Basic />
    
    <div class="concrete-content-container-lv_list">
        <div class="header-lv_list"><h1>Leistungsverzeichnis hinzufügen:</h1></div>
        <div class="subheader-lv_list"><h3>Liste der LVs:</h3></div>
        
        <div class="showList-container">
            <div class="showList-concrete-item-div">
                <p class="nameOfLVPos">Name LV</p>
                <p class="amountOfLVPos">20 ME</p>
                <a class="button-position-properties button-position-delete"><img class="img-size" src="css/images_login_page/Delete_Icon.png"/></a>
            </div>
            <div class="showList-concrete-item-div">
                <p class="nameOfLVPos">Name LV</p>
                <p class="amountOfLVPos">20 ME</p>
                <a class="button-position-properties button-position-delete"><img class="img-size" src="css/images_login_page/Delete_Icon.png"/></a>
            </div>
            <div class="showList-concrete-item-div">
                <p class="nameOfLVPos">Name LV</p>
                <p class="amountOfLVPos">20 ME</p>
                <a class="button-position-properties button-position-delete"><img class="img-size" src="css/images_login_page/Delete_Icon.png"/></a>
            </div>
            <div class="showList-concrete-item-div">
                <p class="nameOfLVPos">Name LV</p>
                <p class="amountOfLVPos">20 ME</p>
                <a class="button-position-properties button-position-delete"><img class="img-size" src="css/images_login_page/Delete_Icon.png"/></a>
            </div>
            <div class="showList-concrete-item-div">
                <p class="nameOfLVPos">Name LV</p>
                <p class="amountOfLVPos">20 ME</p>
                <a class="button-position-properties button-position-delete"><img class="img-size" src="css/images_login_page/Delete_Icon.png"/></a>
            </div>
            <div class="showList-concrete-item-div">
                <p class="nameOfLVPos">Name LV</p>
                <p class="amountOfLVPos">20 ME</p>
                <a class="button-position-properties button-position-delete"><img class="img-size" src="css/images_login_page/Delete_Icon.png"/></a>
            </div>
            <div class="showList-concrete-item-div">
                <p class="nameOfLVPos">Name LV</p>
                <p class="amountOfLVPos">20 ME</p>
                <a class="button-position-properties button-position-delete"><img class="img-size" src="css/images_login_page/Delete_Icon.png"/></a>
            </div>
            <div class="showList-concrete-item-div">
                <p class="nameOfLVPos">Name LV</p>
                <p class="amountOfLVPos">20 ME</p>
                <a class="button-position-properties button-position-delete"><img class="img-size" src="css/images_login_page/Delete_Icon.png"/></a>
            </div>
        </div>
        
        <div class="button-position-div">
            <a class="button-position-properties button-position-add"><img class="img-size" src="css/images_login_page/Add_Icon.png"/></a>
            <a @onclick="@(()=>Modal.Show<Modal>("Einstellungen"))" class="button-position-properties button-position-settings"><img class="img-size" src="css/images_login_page/Settings_Icon.png"/></a>
            <button class="primary-btn-login button-position-backButton" type="submit" id="loginBtn">Zurück</button>
            <button class="primary-btn-login button-position-nextButton" type="submit" id="loginBtn">Weiter</button>
        </div>
    </div>
    
    <!-- Blazor Footer Component -->
    <Footer_Basic />
</div>

@code {
    [Parameter]
    public string id { get; set; }

   
    protected override void OnInitialized()
    {
        _srvice.IdFromURL = id;
    }
    
    
    /*private void LoadDataFromDatabase(int parsedId)
    {
    // Hier könntest du Logik einfügen, um Daten aus der Datenbank basierend auf der id zu laden
    // Z.B. du könntest eine Methode aufrufen, die die Daten aus der Datenbank lädt
    }*/
    
    
    public ChooseLVModel _ChooseLv { get; set; } = new();
    
    public class ChooseLVModel
    {
        public string MainLV { get; set; }
        public string SubLV { get; set; }
    }

    public void ExecuteConfirm()
    {
        _ChooseLv = new ChooseLVModel();
    }
}