@page "/ShowAllOffers"
<PageTitle>Angebote</PageTitle>

<link href="/css/mainComponents.css" rel="stylesheet"/>
<link href="/css/showAllOffers_style.css" rel="stylesheet"/>


<div class="default-content-container">
    <!-- Blazor Navbar Component -->
    <Navbar_Basic />
    
    <div class="concrete-content-container-showAllOffers">
        <div class="header-showAllOffers"><h1>Angebote:</h1></div>
        
        <div class="pagination-container">
            <a href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
        </div>
    </div>
    
    <!-- Blazor Footer Component -->
    <Footer_Basic />
</div>


@code {
    
}