.default-customer-container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 2fr 2fr 1fr 1fr 2fr 2fr 2fr 2fr 2fr 1fr 2fr 2fr;
}

.header-customer{
    display: grid;
    grid-template-columns: 1fr 5fr 3fr 5fr;
    grid-row-start: 3;
    grid-row-end: 3;
}

.header-customer h1{
    grid-column: 2;
    color: #D72622;
}

.item-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 4fr 4fr 5fr;
}

.item-Anrede{
    grid-row: 5;
}

.item-FirstName{
    grid-row: 6;
}

.item-LastName{
    grid-row: 7;
}

.item-Address{
    grid-row: 8;
}

.item-UIDNumber{
    grid-row: 9;
}


.kind-item-label {
    grid-row: 1;
    grid-column: 2;
}

.kind-item-input {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
}

.input-field-customer{
    width: 100%;
}

.item-input-ButtonNext{
    display: grid;
    grid-template-columns: 1fr 5fr 3fr 5fr;
    grid-row-start: 11;
    grid-row-end: 11;
}

.item-input-ButtonNext button{
    grid-column: 2;
}

.customer-footer-container{
    display: grid;
    grid-template-columns: 4fr 10fr 2fr;
    grid-row-start: 13;
    grid-row-end: 13;
}

.image-footer-container{
    grid-column-start: 3;
    grid-column-end: 3;
    object-fit: contain;
    align-self: center;
    width: 150px;
    justify-self: end;
    margin-right: 10px;
}

.text-footer{
    grid-column-start: 1;
    grid-column-end: 1;
    align-self: center;
    margin-left: 10px;
    margin-top: 10px;
}